.top-navbar {
    height: 48px;
    background-color: #efbdb6;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
}

.top-navbar-container {
    width: 1160px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.log-in-container-navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.log-in-icon-navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 5px;
}

.log-in-text-navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 5px;
}

.registration-container-navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.registration-icon-navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 5px;
}

.registration-text-navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 5px;
}



.basket-container-navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 5px;
}

.top-nav-title {
    margin: 0px;
}